main .container .centrado {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav {
  background-image: url(../Imagenes/Portada-2.jfif);
  height: 120px;
}
header nav div h1 {
  color: whitesmoke;
}
header nav div div h5 {
  color: whitesmoke;
}
header nav div div div ul li {
  padding: 5px;
}
header nav div div div ul li .navItem {
  text-decoration: none;
  color: whitesmoke;
}
header nav div img {
  height: 100px;
}

main {
  background-color: #0c0d12;
}
main .separador {
  height: 120px;
}
main .containerCarousel {
  padding-top: 5%;
  height: 80vh;
}
main .containerCarousel h2 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 50px;
}
main .container {
  height: auto;
  background-color: #0c0d12;
  color: whitesmoke;
  padding: 5% 0;
}
main .container .divDif {
  background-color: #898989;
}
main .container .djs div {
  padding-bottom: 100px;
}
main .container h2 {
  width: auto;
  padding: 5px;
  margin: 5% 5%;
  border-radius: 10px;
  background-color: rgba(73, 25, 117, 0.5803921569);
  text-align: center;
}
main .container div h4 {
  text-align: center;
}
main .container div .titleNovedades {
  padding-bottom: 15px;
  text-decoration: underline whitesmoke;
}
main .container div div {
  text-align: center;
  padding-bottom: 30px;
}
main .container div div .imgNews {
  width: 50%;
  margin: auto;
}
main .container div .imgDiv {
  text-align: center;
}
main .container div .imgDiv .imgNotas {
  height: 300px;
}
main .pForm {
  margin: 5% auto 0;
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
  background-color: #898989;
}

.containerForm {
  padding: 5%;
  margin: auto;
}
.containerForm form {
  border-radius: 25px;
  padding: 5%;
  background-color: rgba(73, 25, 117, 0.5803921569);
}
.containerForm form h3 {
  text-align: center;
  color: whitesmoke;
  text-decoration: underline;
}
.containerForm form div {
  padding: 15px 0;
}
.containerForm form div label {
  color: black;
  background-color: #898989;
  padding: 2px 5px;
  border-radius: 5px;
}
.containerForm form .description {
  color: whitesmoke;
}
.containerForm form button {
  color: whitesmoke;
  background-color: rgba(22, 182, 231, 0.6666666667);
}

footer {
  height: auto;
  padding-top: 10px;
  background-color: #0a0a0f;
  color: whitesmoke;
}
footer section div .col {
  text-align: center;
}
footer section div ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
footer section div ul li div a i img {
  height: 20px;
}
footer section a {
  background-color: #898989;
  padding: 3px 5px;
  border-radius: 100%;
}
footer section a i .icon {
  padding-bottom: 3px;
}
footer section .arrow-up {
  position: fixed;
  padding: 5px;
  bottom: 1%;
  right: 1%;
}
footer section .arrow-up i .arrow {
  width: 30px;
  height: auto;
}

header nav div h1 {
  text-shadow: 0 0 7px indigo, 0 0 15px indigo, 0 0 30px whitesmoke;
}
header nav div div ul li a:hover {
  text-shadow: 0 0 2px indigo, 0 0 4px indigo, 0 0 8px whitesmoke;
}

main .container div div img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9411764706), 0 0 20px rgba(0, 0, 0, 0.8509803922), 0 0 25px rgba(0, 0, 0, 0.7333333333);
}

footer section div div ul li {
  transition: all 0.2s;
}
footer section div div ul li:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow: 0 0 5px whitesmoke;
}
footer section div div ul li:active {
  box-shadow: 0 0 15px indigo, 0 0 20px whitesmoke;
}

@media only screen and (max-width: 468px) {
  header nav {
    height: 80px;
  }
  header nav div h1 {
    font-size: 15px;
  }
  header nav div img {
    height: 60px;
  }
  header nav div .offcanvas {
    color: whitesmoke;
    width: auto;
  }
  main .separador {
    height: 80px;
  }
  main .containerCarousel section {
    margin: 0% 2%;
  }
  main .container {
    padding: 0% 10px;
  }
  main .container div div {
    margin-bottom: 15px;
  }
  main .container div div .imgNews {
    height: auto;
    width: 100%;
  }
  main .container .row {
    display: flex;
    flex-direction: column;
  }
  main .container .row .col .nuevosL {
    height: 200px;
  }
  main .containerForm {
    width: 90%;
  }
  main .pForm {
    width: 90%;
  }
  main .lg {
    display: none;
  }
  main .mdSm {
    height: auto;
    padding: 50px;
  }
  main .mdSm .row {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 980px) and (min-width: 469px) {
  main .containerCarousel section {
    margin: 0% 2%;
  }
  main .container .row {
    display: flex;
    flex-direction: column;
  }
  main .container .row .col iframe {
    height: 250px;
  }
  main .containerForm {
    width: 75%;
  }
  main .pForm {
    width: 75%;
  }
  main .mdSm {
    height: auto;
  }
  main .lg {
    display: none;
  }
}
@media only screen and (min-width: 981px) {
  main .containerCarousel section {
    margin: 0% 10%;
  }
  main .container div div {
    margin-bottom: 25px;
  }
  main .container div div .imgNews {
    width: 80%;
  }
  main .container div div img {
    margin: 15px 0;
    transition: all 1s;
  }
  main .container div div img:hover {
    transform: scale(1.1);
  }
  main .containerForm {
    width: 60%;
  }
  main .pForm {
    width: 60%;
  }
  main .lg {
    height: auto;
    padding-bottom: px;
  }
  main .mdSm {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
