.navbar {
    background-image: url(imagenes/Portada-2.jfif);
    height: 120px;
}
.offcanvas {
    color: whitesmoke;
    width: auto;
}
.navbar h1 {
    color: white;
}
.logo {
    height: 100px;
}

/*Main - Index-------------------------------------*/

.main {
    margin-top: 120px;
    background-color: #0c0d12;
}
.main h2 {
    color: whitesmoke;
    text-align: center;
}
    /*Carousel------------*/
.containerCarousel {
    padding-top: 3%;
    height: 100vh;
}

    /*Section Noticias---------------------------------------------*/
.container {
    height: auto;
    background-color: #0c0d12;
    color: white;
    padding: 10% 0;
}
.imgNews {
    height: auto;
    width: 80%;
}
.titles {
    width: auto;
    padding: 5px;
    margin: 5% 25%;
    border-radius: 10px;
    background-color: #49197594;
}
.col {
    text-align: center;
}
    /*Notas-----------------*/
.imgNotas {
    height: 250px;
}
    /*Main - Nosotros------------------*/





    /*footer--------------*/
    .footer {
        height: auto;
        padding-top: 10px;
        background-color:hwb(240 4% 94%);
        color: whitesmoke;
    }
    .icons {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        
    }
    .arrow-up {
        width: 40px;
        height: auto;
        position: fixed;
        padding: 5px;
        bottom: 0%;
        right: 0%;
    }
    .icon {
        height: 20px;
    }
    @media only screen and (max-width:468px) {
        .navbar {
            height: 80px;
        }
        .offcanvas {
            color: whitesmoke;
            width: auto;
        }
        .navbar h1 {
            font-size: 15px;
        }
        .logo {
            height: 60px;
        }
        .main {
            margin-top: 80px;
        }
        .containerCarousel {
            height: 100vh;
            padding-top: 15%;
        }
        .my {
            margin: 0% 2%;
        }
        .container div {
            text-align: center;
        }
        .titleNovedades {
            padding-bottom: 15px;
            text-decoration: underline whitesmoke;
        }
        .mdSm {
            height: auto;
            padding: 50px;
        }
        .lg {
            display: none;
        }
    }

    @media only screen and (max-width: 980px) and (min-width: 469px) {
        .containerCarousel {
            height: 100vh;
            padding-top: 15%;
        }
        .my {
            margin: 0% 2%;
        }
        .titleNovedades {
            padding-bottom: 15px;
            text-decoration: underline whitesmoke;
        }
        .container div {
            text-align: center;
        }
        .mdSm {
            height: auto;
            padding: 50px;
        }
        .lg {
            display: none;
        }
    }
    
    @media only screen and (min-width: 981px){
        .titleNovedades {
            display: none;
        }
        .mdSm {
            display: none;
        }
        .my {
            margin: 0% 10%;
        }
        .lg {
            height: 100vh;
        }
        .imgNews {
            padding-bottom: 25px;
            transition: all 1s;
        }
        .imgNews:hover {
            transform: scale(1.2);
        }
        .icons li:hover {
            transition: all .5s;
        }
        .icons li:hover {
            transform: scale(1.3);
        }
        .icons li:active {
            border-radius: 5px;
            padding: 1px 5px;
            background-color: #49197594;
        }
    }