footer {
    height: auto;
    padding-top: 10px;
    background-color: nth($bg, 3);
    color: $color-text;
    section {
        div {
            .col {
                text-align: center;
            }
        }
        div {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                li {
                    div {
                        a {
                            i {
                                img {
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        a {
            background-color: nth($bg, 5);
            padding: 3px 5px;
            border-radius: 100%;
            i {
                .icon {
                    padding-bottom: 3px;
                }
            }
        }
        .arrow-up {
            position: fixed;
            padding: 5px;
            bottom: 1%;
            right: 1%;
            i {
                .arrow {
                    width: 30px;
                    height: auto;
                }
            }
        }
    }
}