.containerForm {
    padding: 5%;
    margin: auto;
    form {
        h3 {
            text-align: center;
            color: $color-text;
            text-decoration: underline ;
        }
        border-radius: 25px;
        padding: 5%;
        background-color: nth($bg, 1);

        div {
            label {
                color: $color-text2;
                background-color: nth($bg, 5);
                padding: 2px 5px;
                border-radius: 5px;
            }
            padding: 15px 0;
        }
        .description {
            color: $color-text;
        }
        button {
            color: $color-text;
            background-color: nth($bg, 4);
        }
    }
}