header {
    nav {
        background-image: url(../Imagenes/Portada-2.jfif);
        height: 120px;
        div {
            h1 {
                color: $color-text;
            }
            img {
                height: 100px;
            }
        }
    }
}