main {
    .separador {
        height: 120px;
    }
    background-color: nth($bg, 2);
    .containerCarousel {
        padding-top: 5%;
        height: 80vh;
        h2{
            color: $color-text;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .container {
        height: auto;
        background-color: nth($bg, 2);
        color: $color-text;
        padding: 5% 0;

        .divDif {
            background-color: nth($bg, 5);
        }
        .djs {
            div {
                padding-bottom: 100px;
            }
        }

        h2 {
            width: auto;
            padding: 5px;
            margin: 5% 5%;
            border-radius: 10px;
            background-color: nth($bg, 1);
            text-align: center;
        }
        div {
            h4 {
                text-align: center;
            }

            .titleNovedades {
                padding-bottom: 15px;
                text-decoration: underline $color-text;
            }
            div{
                text-align: center;
                padding-bottom: 30px;
                .imgNews {
                    width: 50%;
                    margin: auto;
                }
            }
            .imgDiv {
                text-align: center;
                .imgNotas{
                    height: 300px;
                }
            }
        }
        .centrado {
            @extend %centrado;
        }
    }
    .pForm {
        margin: 5% auto 0;
        padding: 20px 10px;
        text-align: center;
        border-radius: 20px;
        background-color: nth($bg, 5);
    }

}