@media only screen and (max-width:468px) {
    header {
        nav {
            height: 80px;
            div {
                h1 {
                    font-size: 15px;
                }
                img {
                    height: 60px;
                }
                .offcanvas {
                    color: $color-text;
                    width: auto;
                }
            }
        }
    }
    main {
        .separador {
            height: 80px;
        }
        .containerCarousel {
            section {
                margin: 0% 2%;
            }
        }
        .container {
            padding: 0% 10px;
            div {
                div {
                    margin-bottom: 15px;
                    .imgNews {
                        height: auto;
                        width: 100%;
                    }
                }
            }
            .row {
                display: flex;
                flex-direction: column;
                .col {
                    .nuevosL {
                        height: 200px;
                    }
                }
            }
        }
        .containerForm {
            width: 90%;
        }
        .pForm {
            width: 90%;
        }
        .lg {
            display: none;
        }
        .mdSm {
            height: auto;
            padding: 50px;
            .row {
                display: flex;
                flex-direction: column;
            }
        }

    }
}

@media only screen and (max-width: 980px) and (min-width: 469px) {
    main {
        .containerCarousel {
            section {
                margin: 0% 2%;
            }
        }
        .container {
            .row {
                display: flex;
                flex-direction: column;
                .col {
                    iframe {
                        height: 250px;
                    }
                }
            }
        }
        .containerForm {
            width: 75%;
        }
        .pForm {
            width: 75%;
        }
        .mdSm {
            height: auto;
        }
        .lg {
            display: none;
        }
    }
}

@media only screen and (min-width: 981px){
    main {
        .containerCarousel {
            section {
                margin: 0% 10%;
            }
        }
        .container {
            div {
                div {
                    margin-bottom: 25px;
                    .imgNews {
                        width: 80%;
                    }
                    img {
                        margin: 15px 0;
                        transition: all 1s;
                    }
                    img:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .containerForm {
            width: 60%;
        }
        .pForm {
            width: 60%;
        }
        .lg {
            height: auto;
            padding-bottom: px;
        }
        .mdSm {
            display: none;
        }
    }
}