header {
    nav {
        div {
            h1 {
                text-shadow: 
                0 0 7px indigo,
                0 0 15px indigo,
                0 0 30px whitesmoke;
            }
            div {
                ul {
                    li {
                        a:hover {
                            text-shadow: 
                            0 0 2px indigo,
                            0 0 4px indigo,
                            0 0 8px whitesmoke;
                        }
                    }
                }
            }

        }
    }

}
main {
    .container {
        div {
            div{
                img {
                    
                    box-shadow:
                        0 0 15px #000000f0 ,
                        0 0 20px #000000d9 ,
                        0 0 25px #000000bb
                    ;
                }
            }
        }
    }
    .containerForm {
        .btn:hover {
            color: $color-text2;
            background-color: nth($bg, 5);
        }
    }
}
.exito{
    .row {
        .col {
            span {
                animation-name: shadows;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
        }
    }
}
@keyframes shadows {
    0%{
        text-shadow: 
            0 0 1px indigo,
            0 0 3px indigo,
            0 0 5px whitesmoke;
    }
    50%{
        text-shadow: 
            0 0 5px indigo,
            0 0 7px indigo,
            0 0 15px whitesmoke;
    }
    100%{
        text-shadow: 
            0 0 1px indigo,
            0 0 3px indigo,
            0 0 5px whitesmoke;
    }
}
footer {
    section {
        div {
            div {
                ul {
                    li {
                        transition: all .2s;
                    }
                    li:hover {
                        transform: scale(1.2);
                        border-radius: 50%;
                        box-shadow: 0 0 5px whitesmoke,;
                    }
                    li:active {
                        box-shadow: 0 0 15px indigo,
                                    0 0 20px whitesmoke
                        ;
                    }
                }
            }
        }
    }
}